@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');

.logo {
    font-family: "Plaster", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(101, 164, 164);
}